@{
    ViewData["Title"] = "Home Page";
}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">ASP.NET Core</h1>
        <div class="row center">
            <h5 class="header col s12 light">@ViewData["description"]</h5>
        </div>
        <div class="row center">
            <a href="http://camposha.info" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
        </div>
        <br><br>
    </div>
</div>
